@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\000037}}
* {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000311}}
body {
  background: #91d3d1;
  text-align: center;
  color: #72a2a2;
  font-family: Arial;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000318}}
#cr-stage {
  margin: 10px auto 0;
  border: 3px solid #89ccca;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000323}}
.bottom {
  font-size: 12px;
  color: #72a2a2;
  margin-top: 30px;
  text-align: right;
  padding-right: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000329}}
.bottom a {
  color: #aaaaaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000334}}
.settings {
  background: rgba(255, 255, 255, 0.1);
  padding: 70px 30px 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000339}}
p {
  text-align: left;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000344}}
input {
  display: inline-block;
  font-size: 16px;
  padding: 3px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/folders\/pm\/trg2dmy57r594x0g57vd_vtc0000gn\/T\/gulp-ruby-sass\/main\.scss}line{font-family:\0000350}}
label {
  display: inline-block;
  width: 150px;
  color: #72a2a2;
  font-size: 16px;
  vertical-align: middle;
}
