// Some vars
$color-bg: #91d3d1;
$color-border: #89ccca;
$color-text: #72a2a2;
$color-link: #aaa;

* {
	outline: none;
}

body {
	background: $color-bg;
	text-align: center;
	color: $color-text;
	font-family: Arial;
}

#cr-stage { 
	margin: 10px auto 0; 
	border: 3px solid $color-border;
}

.bottom {
	font-size: 12px;
	color: $color-text;
	margin-top: 30px;
	text-align: right;
	padding-right: 40px;
	a {
		color: $color-link;
	}
}

.settings {
	background: rgba( 255, 255, 255, .1 );
	padding: 70px 30px 80px;
}

p {
	text-align: left;
	vertical-align: middle;
}

input {
	display: inline-block;
	font-size: 16px;
	padding: 3px 5px;
}

label {
	display: inline-block;
	width: 150px;
	color: $color-text;
	font-size: 16px;
	vertical-align: middle;
}

